.select2-container {
    width: 100% !important;
}
.date-heading {
    border-bottom: 1px solid silver;
    font-weight: bold;
}
/*.time-box.left {
    border-right: 1px solid silver;
}*/
.currency-box{ font-size: 9px; }
.car-logo img{ max-height: 62px; max-width: 100%;}
.error-time{ border: 1px solid red !important;}
.row-d-heading {color: #2c2c2c;font-size: 20px;font-weight: 800;margin: 0 0 10px;padding: 10px;}
.des_last{ padding-right: 5px;}
.each-day-summary{  margin: 20px;width: 85%;}

.language-switcher select { border: medium none; color: #ffffff; font-size: 14px; margin: 0; padding: 4px 30px 4px 0; text-align: left; vertical-align: middle; }
.language-switcher option { background: #ed1c24 none repeat scroll 0 0; color: #ffffff; padding: 3px 0; }
.language-switcher {
    line-height: unset;
    position: absolute;
    right: -80px;
    top: 20px;
}

.header-number{ float:left;}
.header-number a{
    color: #bc2220;
    font-size: 15px;
    font-weight: 500;
    line-height: 72px;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    transition: all 0.2s ease-in 0s;}
.each-day-hourly{margin:20px; width: 80%}

.img-itm {
    width: 100%;
    overflow: hidden;
}
.img-itm1.lslide {
    height: 173px;
    overflow: hidden;
}
.car_detail-img{
    height: 173px;
    overflow: hidden;
}
img-area{ height: 175px;overflow: hidden; }

.total-by-admin{ height: 48px;}
.total-by-admin span.text-left {
    width: 40%;
    float: left;
}
.total-by-admin span.text-right {
    width: 50%;
    float: right;
    margin: 10px 0px;
}
.input-summary {
    width: 100%;
    padding: 5px;
}
.charges-summery li .text-left {
    float: left;
    max-width: 64%;
}

.charges-summery li:before, .charges-summery li:after {
    content: "";
    display: table;
    clear: both;
}
.car-discount label {
    color: red;
    font-weight: bold;
    font-size: 14px;
}
.fb-custom-botton{ text-align:center; }

.search-company {
    /*background: #ff0000 none repeat scroll 0 0;*/
    /*font-size: 20px;*/
    font-weight: 600;
    margin: 30px 30px 0;
    text-align: center;
    width: auto;
    /*color: #fff;*/
    position: relative;
}


.p0{
    padding: 0px !important;
}

.pa{
    padding: 5px !important;
}

.pt-20{
    padding-top: 20px !important;
}

.pt-40{
    padding-top: 40px !important;
}

.pt{
    padding-top: 5px !important;
}

.pb{
    padding-bottom: 5px !important;
}

.m0{
    margin: 0px !important;
}

.ma{
    margin: 5px !important;
}

.mt{
    margin-top: 5px !important;
}

.mb{
    margin-bottom: 5px !important;
}

.mb-20{
    margin-bottom: 20px !important;
}

.review-rating-box .fa-star{
    color: #ed1c24;
}