@charset "utf-8";
/* CSS Document */

@media only screen and (max-width:1500px) {
.about-txt { width: 70%; }
}
 @media only screen and (max-width:1366px) {
}
 @media only screen and (max-width:1199px) {
.header .navbar-nav li { margin-right: 0; }
.search-category .nav-tabs li { margin-right: 0; }
.policy-box-inner { padding: 30px 15px; }
.policy-txt h5 { font-size: 15px; }
.left-form-box .form-group { width: 95%; }
.contact-info p { padding-left: 40px; }
.small-car-img { margin: 0 auto; text-align: center; width: 100%; }
.small-car-img li { width: 32%; padding: 10px 2px; }
.small-car-img img { width: 100%; }
/** 7 Sept **/
.header .navbar-right { margin-left: 0; }
.show-contact { width: 150px; right: -20px; }
.currency-switcher select { padding: 4px 23px 4px 0; }
.your-info-box .form-group { margin-right: 20px; }
.header nav li a { padding: 0 10px; }
.car-image { height: 180px; }
/** Myanmar Lang **/
.myanmar-lang .header nav li a { padding: 0 9px; font-size: 12px; }
.myanmar-lang .header .navbar-right { margin-left: 0; }
.myanmar-lang .header-right { width: 85%; }
.myanmar-lang .navbar-header { float: left; padding-top: 13px; width: 15%; }
.myanmar-lang .search-category .nav-tabs li { margin-right: 0; }
.myanmar-lang .search-category .nav-tabs { padding: 10px 20px; }
.myanmar-lang .loation-box { padding: 17px 20px; }
.myanmar-lang .search-category .nav-tabs li a { padding: 0 15px 0 30px; }
.attraction-img { height: 225px; }
/** 11 Dec **/
.car-info { padding: 10px; }
}
 @media only screen and (max-width:991px) {
.navbar-header { float: none; }
.navbar-collapse.collapse { float: left; width: 100%; }
.navbar-left, .navbar-right { float: none !important; }
.navbar-toggle .icon-bar { background-color: #bc2220; }
.header .navbar-toggle { margin: 14px 0px; padding: 10px; border: 1px solid #bc2220; display: block; }
.navbar-collapse { border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); }
.navbar-fixed-top { top: 0; border-width: 0 0 1px; }
.navbar-collapse.collapse { display: none!important; }
.navbar-nav { float: none!important; margin-top: 7.5px; }
.navbar-nav>li { float: none; }
.navbar-nav>li>a { padding-top: 10px; padding-bottom: 10px; }
.collapse.in { display: block !important; }
.header nav li:hover a::after, .header nav li.active a::after, .header nav li a::after { content: unset; }
.header nav li a { line-height: 40px; }
.header .navbar-nav li { border-bottom: 1px solid rgba(255, 255, 255, 0.35); margin-right: 0; }
.header .navbar-nav li:last-child { border: none; }
.about-txt { margin: 0 20px; width: 90%; }
.policy-txt h5 { font-size: 18px; }
.attraction-txt { padding: 5px 15px; }
.place-detail-box .col-sm-3 { width: 50%; }
.temparature-box { margin: 20px 0; }
.common-padding { padding: 30px 10px; }
.driver-detail { padding-top: 20px; }
.driver-detail h3 { font-size: 16px; margin-bottom: 10px; }
.car-listing-box .col-sm-9 { width: 100%; }
.car-listing-box .col-sm-3 { width: 100%; }
.sorting-box { margin-bottom: 15px; }
.aside-listing h2 { padding: 10px 20px; font-size: 16px; }
.aside-listing .search-category .nav-tabs li { margin: 7px 0 10px; }
.loation-box label { font-size: 14px; }
.aside-listing .loation-box { padding: 6px 20px; }
.aside-listing .search-submit { margin: 20px 20px 0; }
.aside-listing { padding-bottom: 20px; margin-bottom: 10px; }
.sortby-fetaure { padding-top: 10px; }
.listing-box { margin-top: 15px; }
.book-now-btns { width: 28%; padding-left: 5px; }
.charges-summery { padding: 10px 20px; }
.checkout-summery.aside-listing { padding-bottom: 0; }
.common-title { margin-bottom: 5px; }
.newset-cars .owl-prev { left: 0; }
.newset-cars .owl-next { right: 0; }
/** 7 Sept **/
.currency-switcher { right: 60px; top: 16px; position: absolute; }
.header-number { display: none; }
.header .navbar-nav li.mobile-icon { display: block; }
.currency-switcher select { height: auto; }
/** 19 sept **/
.currency-switcher { margin-right: 0; }
.header-right { width: 100%; }
.header nav li a { border-bottom: 1px solid #bc2220; padding: 0 10px; text-align: right; }
.header nav li:last-child a { border: medium none; }
.navbar-box { width: 100%; }
.show-contact { opacity: 1; width: 100%; text-align: center; position: unset; }
.navbar li a .fa.fa-phone { display: none; }
.header .navbar-right { margin: 7px 0; }
.header .navbar-nav li .show-contact span, .header .navbar-nav li .show-contact span:hover, .header .navbar-nav li .show-contact span:focus, .header-right .nav li.mobile-icon .show-contact span { color: #fff !important; }
.header .navbar-nav li.mobile-icon a, .header .navbar-nav li.mobile-icon a:hover, .header .navbar-nav li.mobile-icon a:focus { color: #fff !important; }
/** Myanmar Lang **/
.myanmar-lang .navbar-header { width: 100%; padding-top: 0; }
.myanmar-lang .logo_sc img { width: 100%; }
.myanmar-lang .header .navbar-toggle { margin: 20px 0; }
.myanmar-lang .header-right { width: 100%; }
.attraction-img { height: 170px; }
/** 22 Dec **/
.package-box { min-height: 160px; height: auto; }
/** 22 Dec **/

}
@media only screen and (max-width:800px) {
.date-box input, .time-box input { padding-left: 35px; padding-right: 0; }
}
 @media only screen and (max-width:767px) {
.logo_sc a { display: inline-block; }
.navbar-header { padding: 0 10px; }
.logo_sc img { display: block; width: 85%; }
.copyright-section .col-sm-4 { text-align: center; }
.social-links { margin-top: 5px; text-align: center; }
.footer { padding: 30px 0 20px; }
.copyright-section { padding: 10px 0; }
.common-header { padding: 10px 5px; }
.section-title { font-size: 22px; }
.common-title::before, .common-title::after { top: 11px; margin-left: 15px; }
.sign-in-box { padding: 25px; }
.policy-box-inner { margin: 10px 0; }
.our-policy { padding: 20px 0; }
.newset-cars, .weclome-section, .client-section { padding: 45px 0; }
.owl-item:nth-child(2n+1) .client-inner-box, .owl-item:nth-child(2n+2) .client-inner-box { background-size: cover; }
.client-inner-box { margin: 0; }
.client-inner-box { padding: 18px 15px 10px; }
.client-info { margin-top: 10px; }
.brand-image-box { margin: 10px auto; }
.Brands-Section .col-sm-2 { float: left; margin: 0 auto; width: 33.3%; }
.policy-img > img { margin-top: 30px; }
.contact-detail-inner { padding: 10px 0; }
.contact-detail-box h4 { font-size: 14px; margin-bottom: 10px; }
.place-detail-box .col-sm-3 { width: 100%; }
.about-image { background-size: 100% auto; float: left; height: 430px; width: 100%; height: 230px; min-height: unset; }
.about-txt { width: 95%; margin: 0 15px; padding: 30px 0; float: left; }
.count-renal-cars { padding: 15px 0; }
.count-renal-cars .counter { margin: 20px 0; }
.count-title { margin-top: 0; font-size: 36px; }
.count-text { margin-top: 0; font-size: 16px; }
.our-drivers { padding: 45px 0; }
.driver-image img { width: auto; }
.driver-box-innr { margin-bottom: 20px; }
.book-now-btns { width: 28%; padding-left: 5px; }
.listing-box { width: 100%; }
.car-image-box { display: inline-block; width: 64%; }
.car-packages { display: block; width: 100%; }
.car-info { display: inline-block; width: 35%; }
.checkout-details .car-image-box { display: table-cell; width: 64%; }
.checkout-details .car-packages { display: table-cell; }
.checkout-details .package-box { padding: 15px 20px; }
.checkout-details .basic-package-innr { width: 100%; }
.checkout-details .book-now-btns .price-box { display: inline-block; margin: 0 auto; padding: 5px 20px; text-align: center; width: auto; }
.your-info-box .form-group { margin-right: 20px; }
.about-inner .col-sm-6::after { clear: both; content: ""; display: block; }
.about-inner { flex-flow: row wrap; }
.about-inner:first-child .col-sm-6.no_padding:last-child { flex: 0 0 100%; }
.about-inner:first-child .col-sm-6.no_padding:first-child { order: 1; flex-grow: 1; }
.about-inner:last-child .col-sm-6.no_padding:first-child { flex: 0 0 100%; }
/** 31 July **/
.hide-sortby-mobile { display: none; }
.aside-listing h2 { padding: 10px 15px; }
.aside-listing .nav-tabs { padding: 10px 15px 0; }
.aside-listing .search-category .nav-tabs li { float: left; width: auto; }
.aside-listing .loation-box { padding: 6px 15px; }
.car-image-box .lSPager.lSGallery { margin-top: 5px !important; }
.listing-box { display: block; }
.date-box input, .time-box input { padding-left: 35px; padding-right: 0; }
/*.form-header { padding: 15px; }*/
.pickup-location-input .fa { left: 10px; }
/** 1 Sep **/
#EditPickUp .modal-header .search-icon { display: block; width: 35px; }
#EditPickUp .modal-header .search-icon img { width: 100%; }
#EditPickUp .modal-header h3 { display: inherit; margin: 0; padding-left: 50px; }
/** 1 Sep **/

/** 6 Sept **/
.modal-header.form-header h3 { font-size: 16px; margin-left: 0; padding-left: 70px; width: 90%; }
#multiLocations .modal-dialog { margin: 0; }
/** 7 Sept **/
.car-image-box ul { margin: 0 auto; }
.checkout-details .car-image-box, .checkout-details .car-packages { display: block; width: 100%; }
.checkout-details .car-image-box { border-bottom: 2px solid #e5e5e5; border-right: 0 none; }
.checkout-details .book-now-btns { float: left; position: static; margin-top: 10px; width: 100%; }
.book-now-btns { padding-left: 0; position: unset; width: 100%; }
.header-right { float: none !important; }
.car-details ul li { width: 100%; padding-top: 5px; }
.book-now-btns { width: auto; float: left; }
.car-image { height: 165px; }
.owl-carousel .owl-item .car-image img { height: 100%; margin: 0 auto; max-width: 100%; width: 100%; }
.basic-package-innr { padding: 0 0 15px; }
.basic-package-innr:last-child { padding-bottom: 0; }
.package-box .car-logo { width: auto; }
.attraction-img { height: auto; }
/** 11 Dec **/
.client-info { bottom: 0; left: 15px; }
.client-img { bottom: 0; }
.client-name { margin-bottom: 5px; }
/** 22 Dec **/
.package-box { min-height: inherit; }
/** 12 Jan **/
.dash-banner { margin-top: 30px; }
}
 @media only screen and (max-width:699px) {
.client-inner-box { padding: 30px 40px 35px; }
.left-form-box, .right-form-box, .left-form-box .form-group { width: 100%; }
.your-info-box .form-group { margin: 0; width: 100%; }
.your-info-box .input-block { margin-bottom: 10px; }
.your-info-box .form-group label { margin: 0; }
.continue-btn { margin-top: 10px; }
.your-info-box form { padding: 30px 0 0; }
.checkout-details .car-image-box { display: block; width: 100%; border-right: 0; border-bottom: 1px solid #e5e5e5; }
.checkout-details .car-packages { display: block; width: 100%; }
.newset-cars .owl-prev, .newset-cars .owl-next { display: none; }
}
 @media only screen and (max-width:636px) {
.top-header { padding: 0; }
.top-contact { background: #f7f7f7 none repeat scroll 0 0; padding: 4px 0; width: 100%; }
.top-contact ul { width: 100%; text-align: center; }
.currency-switcher { float: none; text-align: right; width: 25%; }
.top-contact.pull-right > ul { float: left; width: 100%; }
.Brands-Section .col-sm-2 { width: 50%; }
/** 6 Sept **/
.highway-multiplw-right { width: 55%; }
.highway-multiplw-left { width: 35%; }
}
 @media only screen and (max-width:599px) {
.car-image { height: auto; }
.owl-carousel .owl-item img { width: 100%; }
/** 24 Oct **/
.myanmar-lang .checkout-details .package-box.package-bottom-box { margin: 0 auto; }
.myanmar-lang .package-box .car-logo, .myanmar-lang .package-box .retaing-box { display: block; }
.myanmar-lang .retaing-box label { display: block; }
/** 11 dec **/
.client-img { width: 75px; height: 75px; bottom: 0; }
.client-name { padding-left: 85px; padding-right: 10px; }
.client-info { left: 5px; }
.client-inner-box { padding: 10px; }
}
 @media only screen and (max-width:480px) {
.search-category .nav-tabs li { margin-right: 5px; }
.car-image-box, .car-info { width: 100%; }
.car-image-box { border-bottom: 1px solid #e5e5e5; border-right: 0 none; }
.car-logo { margin: 0; }
.retaing-box { margin-bottom: 0; margin-top: 5px; }
.car-info { padding-top: 10px; padding-bottom: 10px; }
.basic-package-innr { width: 100%; }
.book-now-btns { width: 100%; }
.price-box, .book-now-btns a { display: inline-block; float: left; font-size: 14px; margin: 10px 5px 0; padding: 10px 15px; width: auto; }
.checkout-details .car-packages { width: 100%; }
.checkout-details .package-box { padding: 15px 20px; }
.checkout-details .book-now-btns { width: 100%; padding: 5px; }
.your-info-box { margin-top: 30px; }
.section-title { font-size: 20px; }
/** 31 July **/
.car-image-box .lSSlideOuter { margin-bottom: 15px; }
.car-info h4 { font-size: 16px; margin-bottom: 8px; }
.car-info li { display: inline-block; width: 50%; }
.book-now-btns::after { clear: both; content: ""; display: block; }
.price-box br { display: none; }
.currency-box { font-size: 10px; padding: 0 6px; }
.book-now-btns a { margin-top: 12px; }
/** 6 Sept **/
.modal-header.form-header h3 { font-size: 15px; }
.your-info-box .payment-methox-box .input-block { display: block; height: auto; }
.package-box { padding: 10px 5px 10px 5px; }
.price-box, .book-now-btns a { padding: 10px 5px; margin: 10px 3px 0; }
.currency-box { padding: 0 5px; }
/** 12 Jan **/
.form-header .search-icon img { width: 30px; }
.form-header h3 { font-size: 16px; margin-left: 40px; }
.dash-banner { margin-top: 15px; }
}
@media only screen and (max-width:420px) {
.logo_sc { float: left; padding-top: 5px; width: 75%; }
.search-category .nav-tabs li, .search-category .nav-tabs li:last-child { margin: 5px 0; }
.search-category .nav-tabs li a { background-position: 0 -10%; padding: 0 25px; }
/** 6 Sept **/
.pickup-dropof-time .highway-multiplw-left, .pickup-dropof-time .highway-multiplw-right { width: 45%; }
.logo_sc img { width: 78%; }
/** Myanmar Lang **/
.myanmar-lang .search-category .nav-tabs li a { font-size: 13px; }
/** 12 Jan **/
.form-header .search-icon { left: 15px; }
}
 @media only screen and (max-width:380px) {
.form-header h3 { font-size: 15px; }
.search-submit input { background-position: 25% 50%; }
.search-category .nav-tabs li a { background-position: 0 -10%; padding: 0 20px 0 25px; }
.pickup-option-box li { /*dev margin-right: 30px;*/ width: 100%; }
.search-category .nav-tabs { padding: 10px 15px; }
.loation-box { padding: 17px 15px; }
.price-box, .book-now-btns a { float: none; }
/** Myanmar Lang **/
.myanmar-lang .search-category .nav-tabs li a { padding: 0 9px 0 20px; }
.myanmar-lang .search-category .nav-tabs { padding: 10px; }
.myanmar-lang .loation-box { padding: 17px 10px; }
}
 @media only screen and (max-width:360px) {
.search-category .nav-tabs li a { padding: 0 12px 0 22px; }
.modal-open #EditPickUp.pickup-modal { max-width: 100%; overflow: inherit; width: auto; }
#EditPickUp.pickup-modal .modal-dialog { margin: 10px 0; }
.logo_sc { padding-top: 10px; }
/**12 Jan**/
.search-form-tab ul li a { padding: 10px 5px; }
.form-header .search-icon { left: 10px; }
}
