*, *:before, *:after { box-sizing: border-box; margin: 0; padding: 0; outline: none; }
body { font-family: 'Oxygen', sans-serif; font-size: 13px; }
ul { margin: 0; }
a, button { transition: all 0.2s ease-in 0s; -moz-transition: all 0.2s ease-in 0s; -webkit-transition: all 0.2s ease-in 0s; }
a:hover, a:focus { text-decoration: none; }
.no_padding { padding: 0; }
select { appearance: none; -moz-appearance: none; -webkit-appearance: none; background: rgba(0, 0, 0, 0) url(" ../images/dropdwon.png") no-repeat scroll 95% 55%; }
.text-center { text-align: center; }
.gray-box { background: #f6f6f6 none repeat scroll 0 0; }
input[type="checkbox"], input[type="radio"] { position: absolute; left: -9999px; }
input[type="checkbox"] + label, input[type="radio"] + label { background: rgba(0, 0, 0, 0) url("../images/active-tab.png") no-repeat scroll 0 3px; padding-left: 25px; }
/** Myanmar Font for wrbsite **/
/*@font-face { font-family: 'Zawgyi-One'; src: local('Zawgyi-One'), url('https://mmwebfonts.comquas.com/fonts/zawgyi.woff') format('woff'), url('https://mmwebfonts.comquas.com/fonts/zawgyi.ttf') format('ttf'); }*/
body.myanmar-lang { font-family: Zawgyi-One !important; }
/** Myanmar Font for wrbsite **/

input[type="checkbox"]:checked + label, input[type="radio"]:checked + label { background-position: 0 -18px; }
/** Top Contact **/
.top-header { padding: 10px 0; }
.top-contact ul { float: left; }
.top-contact ul li { display: inline-block; border-right: 1px solid #7f7f7f; line-height: 25px; padding: 0 10px; }
.top-contact ul li:last-child { border: medium none; }
.top-contact ul li a { color: #000; font-size: 14px; }
.top-contact ul li a:hover { color: #ed1c24; }
.top-contact li a .fa { padding-right: 5px; }
.currency-switcher select { border: medium none; color: #bc2220; font-size: 14px; margin: 0; padding: 4px 30px 4px 0; text-align: left; vertical-align: middle; height: 75px; background: rgba(0, 0, 0, 0) none repeat scroll 0 0; cursor: pointer; }
.currency-switcher option { background: #fff none repeat scroll 0 0; color: #bc2220; padding: 3px 0; }
/** Logo Section **/
.logo_sc a { display: block; padding: 2px 0; }
.header { background: #fff none repeat scroll 0 0; border-bottom: 4px solid #ba221e; }
.header nav { border: medium none; margin: 0; }
.header .navbar-nav li { margin-right: 15px; position: relative; transition: all 0.2s ease-in 0s; }
.header nav li a { color: #bc2220; font-size: 15px; font-weight: 500; line-height: 72px; padding-bottom: 0; padding-top: 0; text-align: center; transition: all 0.2s ease-in 0s; }
.header nav li a:hover { background: transparent; }
/*.header nav li a::after { background: transparent; content: ""; display: block; height: 3px; margin: 0 auto; width: 33px; }
.header nav li:hover a::after, .header nav li.active a::after { background: #000000 none repeat scroll 0 0; content: ""; display: block; height: 3px; margin: 0 auto; width: 33px; }*/
.header nav li a:hover, .header nav li a:focus { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; }
/** Banner **/
/** FixedByMMA **/
.banner-sc { background: rgba(0, 0, 0, 0) url("../images/banner.jpg") no-repeat scroll center top / cover; height: auto; padding: 30px 0; width: 100%; /*background-attachment: fixed;*/ }
.banner-sc .search-form { position: relative; }
.form-header h3 { color: #171717; display: inline-block; font-size: 18px; font-weight: 600; margin-left: 65px; margin-top: 0; margin-bottom: 0; text-transform: uppercase; }
.form-header { border-bottom: 1px solid #e5e5e5; padding: 0; position: relative; }
.form-header .search-icon { vertical-align: top; left: 15px; position: absolute; }
.search-category { padding: 30px 0; min-height: 1px; background: rgba(255,255,255,0.7) none repeat scroll 0 0;}
.search-category .nav-tabs { border: medium none; padding: 10px 30px; }
.search-category .nav-tabs a { padding: 0; }
.search-category .nav-tabs .active a { border: medium none; }
.search-category .nav-tabs li { margin-right: 38px; }
.search-category .nav-tabs li.active a { background-position: 0 100%; border: none; }
.search-form .nav-tabs > li.active > a:focus, .search-form .nav-tabs > li.active > a:hover { border: none; }
.search-category .nav-tabs li a { color: #000000; font-size: 14px; margin: 0; border: medium none; background: rgba(0, 0, 0, 0) url("../images/active-tab.png") no-repeat scroll 2% -10%; padding: 0 30px; transition: none; }
.search-category .nav-tabs li a input { margin: 0 10px 0 0; }
.search-category .nav-tabs li:last-child { margin: 0; }
.loation-box label { font-size: 15px; }
.pickup-location-input { /*border: 1px solid #797979;*/ overflow: hidden; width: 100%; position: relative; }
.pickup-location-input input, .pickup-location-input select { border: 1px solid #c0c0c0; width: 100%; font-size: 12px; padding: 5px 40px; color: #616161; }
.pickup-location-input select option { padding: 5px; }
.pickup-option-box { padding-top: 10px; }
.pickup-option-box li { display: inline-block; /*margin-right: 63px;*/ width: 45%; }
.pickup-option-box input { margin-right: 10px; }
/*.loation-box { padding: 17px 30px; }*/
.loation-box {
    /*padding: 0px 10px;*/
        padding: 0px 30px;
    /*margin-right: 10px;*/
    /*margin-left: 10px;*/
}
.loation-box-cus{
    padding: 0px 10px;
}
.date-box, .time-box { float: left; position: relative;width: 50%;}
.date-box-cus, .time-box-cus { float: left; position: relative;width: 100%;}
.date-box input, .time-box input { padding-left: 45px;padding-right: 15px; }
/*.date-box { border-right: 1px solid #e7e7e7; }*/
.date-boxi, .time-boxi {
    float: left;
    position: relative;
    width: 50%;
}
.date-boxi input, .time-boxi input { padding-left: 10px; }
.search-submit { background: #787878 none repeat scroll 0 0; font-size: 17px; font-weight: 600; margin: 30px 30px 0; text-align: center; color: #fff; position: relative;    border-radius: 10px; }
.search-submit input { background: rgba(0, 0, 0, 0) no-repeat scroll 35% 50%; border: medium none; text-transform: uppercase; width: 100%; padding: 10px 0; transition: all 0.2s ease-in 0s; text-align: center; }
.search-submit .fa { left: 130px; margin: 0 auto; position: absolute; top: 25px; }
.search-submit input:hover { box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); }
/*#Weekly.tab-pane, #Monthly.tab-pane { padding-bottom: 130px; }*/
.pickup-select { width: 100%; overflow: visible;background: #fff; }
#desitanted-location { display: none; }
/** Our Policy **/
.policy-box-inner { box-shadow: 0 0 9px rgba(0, 0, 0, 0.07); padding: 30px 20px; position: relative; }
.policy-img { left: 0; position: absolute; top: 0; }
.policy-txt { padding-left: 55px; }
.policy-txt h5 { color: #000000; font-size: 18px; font-weight: 600; margin: 0; }
.policy-txt p { color: #737373; font-size: 13px; font-weight: 300; margin: 12px 0 0; letter-spacing: 0.4px; }
.our-policy { padding: 80px 0; }
.policy-img { height: 100%; left: 20px; position: absolute; }
.policy-img > img { display: block; margin-top: 50px; }
.pickup-location-input .fa { color: #616161; font-size: 18px; left: 18px; line-height: 30px; position: absolute; top: 0; }
.pickup-location-input input::-moz-placeholder {
color:#616161;
opacity:1;
}
/** Newest Car **/
.newset-cars { background: #fcfcfc none repeat scroll 0 0; padding: 90px 0; position: relative; }
.section-title { color: #000000; font-size: 28px; position: relative; text-transform: uppercase; margin-bottom: 60px; margin-top: 0; }
.section-title.black { color: #000000; }
.section-title.white { color: #fff; }
/*.section-title::before, .section-title::after { background: #ed1c24 none repeat scroll 0 0; bottom: 0; content: ""; display: block; height: 1px; left: 0; margin: 0 auto; position: absolute; right: 0; top: 0; width: 68px; }*/
.section-title::before { margin-top: 45px; }
.section-title::after { margin-top: 49px; }
.car-box-inner { border: 1px solid #efefef; background: #fff; }
.car-image { background: #f7f7f7 none repeat scroll 0 0; padding: 10px 20px; width: 100%; height: 200px; overflow: hidden; }
.car-details { padding: 20px 17px; }
.car-details h4 { color: #16191f; font-size: 16px; font-weight: 600; margin-bottom: 5px; margin-top: 0; }
.car-details ul { list-style-type: none; }
.car-details ul::after { clear: both; content: ""; display: block; }
.car-details ul li { color: #737373; float: left; font-size: 13px; padding-top: 7px; width: 50%; }
.car-details a { background: #737373 none repeat scroll 0 0; color: #ffffff; display: block; font-size: 14px; height: 34px; line-height: 33px; margin-top: 16px; text-align: center; width: 100%; }
.car-details a:hover { background: #ed1c24; }
.owl-prev, .owl-next { position: absolute; top: 54%; background: #4b4b4b none repeat scroll 0 0; height: 40px; width: 40px; color: rgba(0, 0, 0, 0); }
.newset-cars .owl-prev { left: -55px; line-height: 40px; }
.newset-cars .owl-next { right: -55px; line-height: 40px; }
.owl-prev::before, .owl-next::before { color: #fff; font-family: FontAwesome; font-size: 17px; text-align: center; display: block; }
.owl-prev::before { content: "\f060"; }
.owl-next::before { content: "\f061"; }
.newset-cars .owl-prev.disabled, .newset-cars .owl-next.disabled { background: #e2e2e2; }
.newset-cars .owl-prev.disabled::before, .newset-cars .owl-next.disabled::before { color: #000; }
/** Welcome Section **/
.weclome-section { padding: 80px 0 90px; }
.welcome-text .section-title::before { margin: 45px 0 0; }
.welcome-text .section-title::after { margin: 49px 0 0; }
.welcome-text h2 span { color: #ff0000; font-weight: 600; }
.welcome-text p { font-size: 13px; color: #737373; padding-bottom: 35px; line-height: 20px; margin: 0; }
.welcome-image .owl-next, .welcome-image .owl-prev { background: rgba(0, 0, 0, 0.7); top: 45%; }
.welcome-image .owl-next { right: 0; line-height: 40px; }
.welcome-image .owl-prev { line-height: 40px; }
.welcome-image .owl-prev.disabled::before, .welcome-image .owl-next.disabled::before { color: #fff; }
.welcome-image .owl-prev::before, .welcome-image .owl-next::before { color: #ed1c24; }
/** Client Section **/
.client-section { background: url('../images/testimonial-bg.jpg') no-repeat 0 0 /cover; position: relative; padding: 85px 0 65px; }
.client-inner-box { padding: 50px 40px 80px; position: relative; height:235px; margin-bottom: 50px; }
.client-inner-box p { color: #ffffff; font-size: 13px; margin: 0; }
.owl-item:nth-child(2n+1) .client-inner-box { background: rgba(0, 0, 0, 0) url("../images/overlay-car-1.jpg") no-repeat scroll 0 0 /cover; width:100%; }
.owl-item:nth-child(2n+2) .client-inner-box { background: rgba(0, 0, 0, 0) url("../images/overlay-car-2.jpg") no-repeat scroll 0 0 /cover; width:100%; }
.client-section .client-name img { display: block; width: 100%; }
.client-info {
    margin-top: 0;
    position: absolute;
    left: 40px;
    bottom: 10px;
}
.client-info:after { display:block; content:""; clear:both; }
.client-img {
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50%;
    height: 90px;
    overflow: hidden;
    text-align: center;
    width: 90px;
    float: left;
    position: absolute;
    bottom: -35px;
	left: 0;
}
.client-name {
    color: #ffffff;
    float: left;
    font-size: 16px;
    font-weight: 600;
    line-height: unset;
    padding-left: 100px;
    padding-right: 25px;
}
.owl-dot span { border: 1px solid #ffffff; border-radius: 50%; display: block; height: 10px; width: 10px; }
.owl-dots { text-align: center; width: 100%; margin-top: 10px; }
.owl-dot.active span { background: #ffffff none repeat scroll 0 0; }
.owl-dots .owl-dot { display: inline-block; margin: 0 auto; padding: 0 5px; text-align: center; }
.client-section .section-title { margin-bottom: 70px; }
.Brands-Section { padding: 75px 0 80px; }
.brand-image-box { border: 1px solid #e2e2e2; display: table; padding: 18px 10px; text-align: center; width: 100%; }
.footer { background: rgba(0, 0, 0, 0) url("../images/footer-bg.jpg") no-repeat scroll 0 0 / cover; padding: 68px 0 40px; }
.center-footer-col h3 { color: #ffffff; font-size: 16px; font-weight: 600; margin-bottom: 22px; margin-top: 0; text-transform: uppercase; }
.center-footer-col p { color: #ffffff; font-size: 13px; padding-bottom: 25px; margin: 0; }
.center-footer-col ul { list-style-type: none; }
.center-footer-col li { margin-bottom: 15px; }
.center-footer-col li a { color: #ffffff; display: block; font-size: 13px; }
.center-footer-col li a:hover, .center-footer-col h3:hover { color: #ed1c24; }
.footer-info li { color: #ffffff; font-size: 13px; }
.center-footer-col .footer-info a { display: inline-block; padding: 0; }
.footer-info .fa { padding-right: 15px; }
.copyright-section { background: #000000 none repeat scroll 0 0; padding: 20px 0; }
.copyright-section p { color: #fff; text-align: center; line-height: 30px; margin: 0; }
.copyright-section ul li { display: inline-block; padding: 0 5px; line-height: 12px; }
.copyright-section ul li a { color: #ffffff; }
.copyright-section ul li a:hover { color: #ed1c24; }
.term-links { padding: 7px 0; }
.term-links li { border-right: 1px solid #ffffff; }
.term-links li:last-child { border: medium none; }
.social-links { text-align: right; }
.social-links a { font-size: 22px; padding: 0 10px; }
/** Common Header **/
.common-header { background: #f7f7f7 none repeat scroll 0 0; padding: 20px 0; }
.common-title { margin-bottom: 10px; font-weight: 600; display: inline-block; margin-top: 0; }
.common-title::before { margin-top: 0; }
.common-title::after { margin-top: 4px; }
.common-title::before, .common-title::after { left: 100%; margin-left: 20px; right: unset; top: 15px; }
.common-header ul li { display: inline-block; }
.common-header ul li::after { content: "/"; padding: 0 6px; color: #737373; }
.common-header ul li:last-child::after { content: unset; }
.common-header ul li a { color: #737373; font-size: 14px; }
.common-header ul li a:hover { color: #ed1c24; }
.common-padding { padding: 40px 0; }
/** login **/
.login_info_block form { padding-top: 23px; }
.sign-in-box { padding: 35px; position: relative; border: solid 3px #f6f6f6; }
.input-block { background: #fff; color: #686868; display: block; font-size: 14px; height: 45px; position: relative; width: 100%; border: solid 1px #e0e0e0; margin: 0 0 20px; }
.input-icon { color: #ed1c24; display: block; font-size: 15px; height: 100%; right: 0; line-height: 45px; position: absolute; text-align: center; top: 0; width: 50px; }
.input-fill2 { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border: medium none; height: 100%; padding: 0 15px; width: 100%; }
.login_wrp { padding: 30px 0 20px; }
.login-btn, .signup-btn { width: 100%; display: inline; background: #fff; }
.or-box { border-top: 1px solid #ed1c24; text-align: center; margin: 0px 25px 10px; }
.or-box span { background: #fff none repeat scroll 0 0; color: #2c2c2c; display: inline-block; font-size: 16px; text-transform: uppercase; font-weight: 700; margin-top: -10px; padding: 0 20px; vertical-align: top; }
.name-filed { font-size: 15px; color: #2c2c2c; font-weight: 400; margin: 0 0 10px; }
.lost-password a { color: #2c2c2c; font-size: 16px; }
.lost-password { margin: 10px 0 20px; }
.login-btn.more { background: #ed1c24; }
.login-btn:hover { background: #737373; color: #fff; border: none; box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); }
.signup-btn:hover { background: #ed1c24; }
.sign-in-box .main-heding:after { left: 115px; width: 367px; }
.sign-in-box .main-heding { margin: 0 0 40px; }
.more { background: #737373 none repeat scroll 0 0; border: medium none; color: #ffffff; display: inline-block; font-size: 18px; font-weight: 600; min-width: 135px; padding: 15px 10px; text-transform: uppercase; position: relative; }
/** Signup **/
.form-group .input-block.telephone-block .select-country { float: left; width: 15%; background-color: #f7f7f7; background-position: 90% 55%; border: medium none; padding: 0; height: 100%; }
.input-block.telephone-block input { float: left; width: 75%; }
.flagstrap.select-country .btn { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border: medium none; height: 100%; width: 100%; border-radius: 0; }
.flagstrap.select-country .btn:hover { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border-radius: 0; }
.flagstrap .btn span { color: rgba(0, 0, 0, 0); }
.flagstrap .btn span.caret { color: #737373; position: absolute; right: 13px; top: 20px; }
/** FAQ **/
.faq-heading { color: #303030; font-weight: 400; font-size: 14px; margin: 0 0 15px; text-transform: none; }
.faq-block .panel-default > .panel-heading { padding: 0; background-color: #fbfbfb; }
.faq-block .panel-title a { display: block; padding: 13px 15px; font-size: 16px; font-weight: 400; text-transform: none; border: solid 1px #e0e0e0; background: #212124 url(../images/minus.png) no-repeat 98% center; color: #fff; text-decoration: none; }
.faq-block .panel-title a.collapsed { background: url(../images/plus.png) no-repeat 98% center; color: #303030; }
.faq-block .panel-body { padding: 20px 0px; }
.faq-block .panel-body p { margin: 0 0 15px; font-size: 14px; line-height: 23px; color: #737373; }
.faq-block .panel-body ul { margin: 0; padding-left: 15px; }
.faq-block .panel-body ul li { font-size: 14px; line-height: 23px; color: #737373; }
.faq-block .panel-body p:last-child { margin: 0; }
.faq-block .panel-group .panel { border: none; box-shadow: none; }
/** About Us **/
.about-inner { display: flex; display: -webkit-flex; }
.about-image { background-repeat: no-repeat; background-size: cover; min-height: 480px; height: 100%; }
.about-img1 { background-image: url('../images/about1.jpg'); background-position: right center; }
.about-img2 { background-image: url('../images/about2.jpg'); background-position: center center; }
.about-inner::after { clear: both; content: ""; display: block; }
.about-txt { margin: 0 50px; padding: 65px 0; width: 50%; }
.about-txt p { color: #737373; font-size: 14px; line-height: 24px; padding-bottom: 25px; margin: 0; }
.about-txt .common-title { margin-bottom: 35px; }
.about-txt ul li { color: #737373; font-size: 14px; display: block; padding: 5px 0 5px 25px; position: relative; }
.about-txt ul li::before { color: #ed1c24; content: "\f058"; font-family: FontAwesome; position: absolute; left: 0; }
.about-image img { display: none; }
.count-renal-cars { background: url('../images/about-count.jpg') no-repeat 0 0/cover; padding: 65px 0; }
.count-title { font-size: 45px; font-weight: 600; color: #fff; margin-top: 10px; margin-bottom: 0; text-align: center; }
.count-text { font-size: 18px; font-weight: 400; color: #ffffff; margin-top: 10px; margin-bottom: 0; text-align: center; }
.our-drivers { padding: 80px 0; }
.driver-detail { padding-top: 40px; text-align: center; }
.driver-detail h3 { color: #16191f; font-size: 18px; font-weight: 600; margin-bottom: 15px; margin-top: 0; }
.driver-detail p { color: #737373; font-size: 13px; letter-spacing: 0.3px; margin: 0; }
.driver-image { text-align: center; }
.driver-image img { width: 100%; }
/** Car Listing  **/
.sorting-box { background: #f7f7f7 none repeat scroll 0 0; padding: 10px 20px; }
.sorting-box label { color: #000; font-size: 14px; font-weight: 600; margin-right: 10px; }
.sorting-box select { border: 1px solid #e0e0e0; background-color: #fff; padding: 0 10px; font-size: 13px; color: #737373; width: 160px; height: 32px; }
.sorting-box select option { color: #737373; padding: 3px 5px; }
.listing-box::after { clear: both; content: ""; display: block; }
.listing-box { border: 2px solid #f3f3f3; margin-top: 30px; -webkit-diplay: flex; -moz-display: flex; display: flex; }
.car-image-box { width: 30%; float: left; padding: 10px; vertical-align: top; border-right: 2px solid #e5e5e5; }
.big-car-image { background: #f7f7f7 none repeat scroll 0 0; border: 1px solid #efefef; padding: 30px 12px; width: 100%; max-height: 155px; height: auto; overflow: hidden; }
.big-car-image img { width: 100%; }
.small-car-img li { display: inline-block; padding: 10px 2px; }
.car-logo { margin: 13px 0; text-align: center; }
.retaing-box { margin-bottom: 5px; margin-top: 5px; text-align: center; }
.retaing-box label { color: #000000; font-size: 13px; font-weight: 600; }
.retaing-box .fa { font-size: 13px; padding: 0 1px; }
.retaing-box .fa.fa-star { color: #ed1c24; }
.car-info { width: 20%; padding: 10px 20px; float: left; vertical-align: top; }
.car-info h4 { color: #16191f; font-size: 18px; font-weight: 700; margin-bottom: 10px; margin-top: 0; }
.car-info li { color: #737373; font-size: 13px; padding: 3px 0; }
.car-packages { width: 50%; background: #f7f7f7; float: left; }
.package-box { border-bottom: 1px solid #dedede; padding: 10px 5px 10px 15px; position: relative; min-height: 130px; }
.basic-package-innr h4 { color: #16191f; font-size: 16px; font-weight: 600; margin-bottom: 5px; margin-top: 0; }
.package-box:last-child { border: medium none; }
.package-box::after { clear: both; content: ""; display: block; }
.basic-package-innr { float: left; width: 72%; padding-right: 15px; }
.basic-package-innr li { color: #737373; font-size: 13px; padding: 0 0 2px 17px; display: block; position: relative; }
.basic-package-innr li::before { color: #ed1c24; content: "\f00c"; font-family: FontAwesome; font-size: 14px; position: absolute; left: 0; }
.book-now-btns { padding-left: 0; position: absolute; right: 10px; top: 10px; width: auto; }
.price-box { background-color: #ffffff; border: 1px solid #e0e0e0; color: #737373; display: block; font-size: 16px; font-weight: 500; padding: 5px; text-align: center; width: 100%; word-wrap: break-word; }
.book-now-btns a { background-color: #737373; color: #ffffff; display: block; font-size: 14px; margin-top: 10px; padding: 8px 0; text-align: center; max-width: 100px; min-width: 100px; float: right; width: 100%; }
.book-now-btns a:hover, .book-now-btns a:focus { background-color: #ed1c24; box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); color: #ffffff; }
.pagination-box { text-align: right; width: 100%; }
.pagination-box ul li { display: inline-block; margin: 0 5px; width: 34px; height: 34px; text-align: center; }
.pagination-box ul li a { background: #e5e5e5; padding: 7px 2px; color: #000; display: block; font-size: 14px; font-weight: 600; }
.pagination-box ul li a.current, .pagination-box ul li a:hover { background: #4c4c4c; color: #fff; }
.car-info ul { list-style-type: none; }
/** Lissitng aside **/
.search-category .nav-tabs li a:focus { background-color: transparent; }
.aside-listing { background: #f7f7f7 none repeat scroll 0 0; padding-bottom: 30px; margin-bottom: 30px; border: 2px solid #f6f6f6; }
.aside-listing .search-category { padding: 0; }
.aside-listing .loation-box { padding: 12px 20px; }
.aside-listing h2 { border-bottom: 1px solid #dedede; color: #000000; font-size: 18px; padding: 20px; margin: 0; }
.aside-listing .nav-tabs { padding: 10px 30px 0; }
.aside-listing .search-category .nav-tabs li { display: block; margin: 7px 0 20px; width: 100%; }
.aside-listing .search-category .nav-tabs li a { background-position: 0 -10%; }
.aside-listing .search-category .nav-tabs li.active a { background-position: 0 100%; }
.aside-listing .pickup-location-input { border: 1px solid #e0e0e0; background-color: #ffffff; }
.aside-listing .pickup-location-input .date-box input, .aside-listing .pickup-location-input .time-box input { padding: 0 10px; }
.aside-listing .pickup-location-input .fa { left: 10px; }
.aside-listing .pickup-location-input input, .aside-listing .pickup-location-input select { padding: 5px 30px; }
.aside-listing .time-box select { background-color: #ffffff; padding: 0 10px; }
.aside-listing .search-submit input { background: #737373 none repeat scroll 0 0; font-size: 14px; padding: 7px 0; }
.aside-listing .search-submit input:hover, .aside-listing .search-submit input:focus { background: #ed1c24 none repeat scroll 0 0; }
.aside-listing .search-submit { margin: 24px 20px 0; }
.aside-listing .pickup-option-box-air li { display: inline-block; margin-right: 0; padding: 0 1px; width: 100%; padding-top: 10px; }
.aside-listing .pickup-option-box li { display: inline-block; margin-right: 0; padding: 0 1px; }
.aside-listing .pickup-select { width: 100%; }
.aside-listing #Weekly.tab-pane, .aside-listing #Monthly.tab-pane { padding-bottom: 0; }
.aside-listing .pickup-select select { padding: 5px 7px; }
.sortby-fetaure { padding-top: 25px; }
.sortby-fetaure .pickup-location-input select { padding: 0 10px; }
.sortby-option { margin-top: 5px; }
.sortby-option input[type="checkbox"] { position: absolute; left: -9999px; }
.sortby-option input[type="checkbox"] + label { background: rgba(0, 0, 0, 0) url("../images/sort-checkbox.png") no-repeat scroll 0 6px; padding-left: 25px; }
.sortby-option input[type="checkbox"]:checked + label { background-position: 0 -14px; }
.sortby-option label { color: #737373; font-size: 15px; font-weight: 400; margin: 0; }
.sortby-option ul { list-style-type: none; }
.sortby-option li { margin-bottom: 10px; }
/** Checkout **/
.checkout-details .listing-box { margin-bottom: 30px; margin-top: 0; }
.checkout-details .car-packages { width: 70%; background: transparent; }
.checkout-details .car-info { padding: 0; }
.checkout-details .basic-package-innr.car-info li::before { content: unset; }
.charges-summery { padding: 20px; border-bottom: 1px solid #dedede; }
.charges-summery:last-child { border-bottom: none; }
.charges-summery .text-right { float: right; font-weight: 600; }
.charges-summery h5 { font-size: 14px; font-weight: 600; color: #000; padding-bottom: 3px; display: inline-block; margin: 0; }
.charges-summery ul { list-style-type: none; }
.charges-summery li { font-size: 14px; font-weight: 400; color: #737373; padding: 3px 0; }
.edit-detail { color: #000000; float: right; font-size: 14px; font-style: italic; font-weight: 600; }
.edit-detail:hover, .edit-detail:focus { color: #ed1c24; text-decoration: underline; }
.checkout-details .basic-package-innr.car-info li { float: left; padding: 4px 0; width: 50%; }
.checkout-details .package-box { padding: 15px 20px 20px; position: relative; border: none; }
.checkout-details .package-box.package-bottom-box { padding: 0 20px 15px; }
.package-bottom-box { display: table; width: auto; }
.package-box .car-logo { padding-right: 20px; width: 190px; text-align: center; }
.package-box .car-logo, .package-box .retaing-box { display: table-cell; vertical-align: middle; margin: 0; }
.car-image-box li { list-style: none; }
.checkout-details .basic-package-innr { width: auto; float: left; }
.checkout-details .book-now-btns { width: auto; }
.checkout-summery { border-color: #f3f3f3; }
.your-info-box::after, .your-info-box form:after { clear: both; content: ""; display: block; }
.your-info-box { margin-top: 40px; }
.your-info-box form { padding: 35px 0; }
.your-info-box span { color: #000000; display: block; font-size: 14px; }
.your-info-box span a { color: #ed1c24; font-style: italic; font-weight: 600; }
.your-info-box .form-group label { color: #000000; }
.your-info-box .form-group { float: left; margin-right: 28px; width: 48%; }
.your-info-box .form-group:nth-child(2n+2) { margin: 0; }
.continue-btn { float: left; width: 100%; }
.continue-btn .more { padding: 10px 60px; }
.continue-btn .more:hover { background: #ed1c24; box-shadow: 0 0 4px rgba(0, 0, 0 ,0.3); }
/** Attractive Places **/
.attractive-place-box .places-box { box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.12); margin-bottom: 30px; }
.attraction-img { background: #000000 none repeat scroll 0 0; height: 280px; overflow: hidden; width: 100%; }
.attraction-img img { transition: all 0.5s ease 0s; vertical-align: top; width: 100%; }
.attraction-img:hover img { opacity: 0.6; transform: scale(1.1); }
.attraction-txt { background: #ffffff none repeat scroll 0 0; border: 1px solid #e8e8e8; border-top: none; padding: 16px 15px; }
.attraction-txt h5 { color: #16191f; font-size: 16px; line-height: 23px; margin-bottom: 2px; margin-top: 0; text-transform: uppercase; font-weight: 600; }
.attraction-txt p { color: #737373; font-size: 13px; font-weight: 400; line-height: 23px; margin: 0; }
.places-box { display: none; }
.load-more-button { margin-top: 10px; text-align: center; }
.load-more-button a { color: #fff; font-size: 14px; background: #737373; padding: 8px 16px; }
.load-more-button a:hover, .load-more-button a:focus { background: #ed1c24; box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); }
/** Place Detail **/
.places-image-slider .owl-next { right: 0; }
.places-image-slider .owl-prev { left: 0; }
.places-image-slider .owl-prev, .places-image-slider .owl-next { background: rgba(75, 75, 75, 0.65) none repeat scroll 0 0; line-height: 40px; top: 43%; }
.places-image-slider .owl-next.disabled, .places-image-slider .owl-prev.disabled { background: rgba(255, 255, 255, 0.65) none repeat scroll 0 0; }
.places-image-slider .owl-prev.disabled::before, .places-image-slider .owl-next.disabled::before { color: #010101; }
.place-slider-txt p { color: #737373; font-size: 13px; padding-top: 5px; margin: 0; }
.place-slider-txt { margin-top: 7px; }
.place-detail-box { background: #fff; }
.graish-bg { background: #fcfcfc; }
.place-detail-box h4 { color: #000000; font-size: 20px; margin-bottom: 27px; margin-top: 0; text-transform: uppercase; }
.attraction-points li, .place-detail-box p { color: #737373; font-size: 13px; line-height: 25px; margin: 0; }
.attraction-points li { position: relative; padding-left: 23px; margin: 15px 0; list-style-type: none; }
.attraction-points li::before { color: #ed1c24; content: "\f05d"; font-family: FontAwesome; font-size: 14px; position: absolute; left: 0; top: 2px; }
.attraction-points span { color: #000000; font-size: 15px; font-weight: 600; }
.temparature-box { position: relative; }
.temparature-box span { left: 0; top: 10px; position: absolute; }
.temparature-box .fa-moon-o { color: #ed1c24; font-size: 29px; }
.temp-text { padding-left: 40px; }
.temp-text h6 { color: #000000; font-size: 16px; font-weight: 600; margin: 0; }
.detail-image { position: relative; background: #000000 none repeat scroll 0 0; max-height: 250px; height: auto; overflow: hidden; width: 100%; }
.detail-image img { transition: all 0.5s ease 0s; vertical-align: top; width: 100%; }
.detail-image:hover img { opacity: 0.6; transform: scale(1.1); }
.detail-text { background: rgba(40, 40, 40, 0.8) none repeat scroll 0 0; bottom: 0; padding: 15px 0; position: absolute; text-align: center; width: 100%; left: 0; right: 0; }
.detail-text h5 { color: rgb(255, 255, 255); display: block; font-size: 16px; font-weight: 600; text-transform: uppercase; margin: 0; }
.detail-img-box { position: relative; margin-bottom: 30px; }
.left-form-box { float: left; width: 55%; }
.right-form-box { float: left; width: 45%; }
.left-form-box .form-group { float: left; margin-right: 29px; width: 45%; }
.right-form-box .textarea-box { height: 157px; }
.form-group.submit-box { float: left; width: 100%; text-align: center; }
.sign-in-box::after { clear: both; content: ""; display: block; }
.submit-box .more.login-btn { display: block; margin: 0 auto; padding: 10px 75px; width: auto; background: #747474; }
.submit-box .more.login-btn:hover, .submit-box .more.login-btn:focus { background: rgb(237, 28, 36) none repeat scroll 0 0; }
/** Contact Page **/
.contact-detail-box { padding: 0 0 60px; }
.textarea-box textarea.input-fill2 { padding: 10px 15px; }
.contact-detail-box h4 { color: #2c2c2c; font-size: 16px; font-weight: 600; margin-bottom: 12px; margin-top: 0; text-transform: uppercase; }
.contact-detail-inner { border-bottom: 1px solid #e1e1e1; padding: 20px 0; }
.contact-detail-inner:first-child { padding-top: 0; }
.contact-detail-inner:last-child { border: medium none; }
.contact-info { position: relative; }
.contact-detail-inner .contact-info .fa { border: 2px solid #ed1c24; border-radius: 50%; color: #ed1c24; font-size: 15px; height: 30px; line-height: 28px; text-align: center; vertical-align: middle; width: 30px; }
.contact-info p { color: #737373; font-size: 14px; padding-left: 50px; padding-top: 5px; margin: 0; }
.contact-info span { left: 0; position: absolute; }
.contact-detail-inner li { display: inline-block; margin: 0 5px; }
.contact-detail-inner li a { background-color: #737373; border-radius: 50%; display: block; height: 30px; line-height: 31px; text-align: center; vertical-align: middle; width: 30px; }
.contact-detail-inner li a:hover, .contact-detail-inner li a:focus { background-color: #ed1c24; }
.contact-detail-box .fa { color: #ffffff; font-size: 15px; }
.map-box img { width: 100%; }
.pickup-modal .modal-title { line-height: 21px; }
.pickup-modal .modal-footer button { background: #737373 none repeat scroll 0 0; border: medium none; border-radius: 0; color: #ffffff; display: block; font-size: 18px; height: auto; line-height: 20px; margin: 0 auto; padding: 10px 50px; text-align: center; width: auto; }
.pickup-modal .modal-footer button:hover { background: #ed1c24; }
/** Car Listing Carousal **/
.sync2 .item { padding: 0; color: #FFF; border-radius: 0; text-align: center; cursor: pointer; }
.sync2 .item h1 { font-size: 18px; }
.sync1.owl-theme { position: relative; }
.sync2.owl-theme .owl-next, .sync2.owl-theme .owl-prev { width: 22px; height: 25px; margin-top: -27px; position: absolute; top: 50%; }
.sync2.owl-theme .owl-prev { left: 0; }
.sync2.owl-theme .owl-next { right: 0; }
.listing-box img { vertical-align: middle; max-width: 100%; }
.car-image-box .lSSlideWrapper { background: #f7f7f7 none repeat scroll 0 0; border: 1px solid #dedede; }
.car-image-box .lSPager { margin-top: 20px !important; }
.car-image-box .lSSlideOuter { margin-bottom: 10px; }
.car-image-box .lSPager.lSGallery li { background: #f7f7f7 none repeat scroll 0 0; border: 1px solid #dedede; }
.show-contact { background: #ed1c24 none repeat scroll 0 0; border-top: 3px solid #000; display: block; padding: 10px; position: absolute; top: 72px; width: 200px; transition: all 0.1s ease-in 0s; opacity: 0; left: auto; right: 0; }
.header .navbar-nav li:hover .show-contact, .header .header-number > a:hover+.show-contact { opacity: 1; }
.show-contact p { color: #ffffff; font-size: 14px; margin: 0; }
.show-contact span { color: #ffffff; display: block; font-size: 16px; font-weight: 600; }
.navbar li a .fa.fa-phone { font-size: 18px; padding-top: 4px; vertical-align: middle; }
.time-box label { font-size: 14px; font-weight: 600; }
.input-block select { border: medium none; height: 100%; width: 100%; }
/** 6 Sept **/
.highway-multiple-form { margin: 10px 0; }
.highway-multiple-form::after { clear: both; content: ""; display: block; }
.highway-multiplw-left, .highway-multiplw-right { float: left; margin: 7px 5px; }
.highway-multiplw-left { width: 30%; }
.highway-multiplw-right { width: 65%; }
.highway-multiplw-left h5, .highway-multiplw-right h5 { font-size: 14px; font-weight: 600; margin: 0; }
.highway-multiplw-left span, .highway-multiplw-right span { display: block; font-size: 12px; font-weight: 500; }
.highway-multiplw-left label, .highway-multiplw-right label { font-size: 14px; font-weight: 600; margin: 0; padding-top: 4px; display: block; }
.highway-multiplw-right select { border: 1px solid #c0c0c0; color: #616161; font-size: 14px; height: 40px; width: 100%; padding: 5px; }
.highway-multiplw-left input, .highway-multiplw-right input { border: 1px solid #c0c0c0; color: #616161; height: 40px; margin-top: 5px; padding: 6px; width: 100%; }
.pickup-dropof-time .highway-multiplw-left, .pickup-dropof-time .highway-multiplw-right { width: 48%; }
.header .navbar-right { float: left; margin-left: 0px; margin-right: 0; }
.currency-switcher { /* line-height: unset;
    position: absolute;
    right: -20px;
    top: 20px;*/ margin-right: 15px; float: left; }
.header .navbar-nav li.mobile-icon { display: none; }
.navbar-box { float: left; }
.header .container { position: relative; }
.form-group.payment-methox-box { margin-right: 0; width: 100%; }
.payment-methox-box .input-block { border: medium none; display: inline-block; margin: 0 10px; width: auto; }
.payment-methox-box .name-filed { display: block; font-size: 17px; font-weight: 600; }
.payment-methox-box .input-block label { font-weight: 500; height: 22px; margin-top: 13px; padding-left: 30px; padding-top: 2px; vertical-align: middle; }
.your-info-box .payment-methox-box .input-block { border: medium none; display: inline-block; margin: 0 40px 20px 0; width: auto; }
.payment-methox-box .input-block img { margin-top: -3px; }
/*.car-details h4 { height: 30px; }*/
.owl-carousel .owl-item .car-image img { margin: 0 auto; width: 100%; }
/** 26 Sept **/
.login_info_block .sub-menu { text-align: right; }
.login_info_block .sub-menu li { display: inline-block; margin: 0 3px; }
.login_info_block .sub-menu a { background: #ed1c24 none repeat scroll 0 0; color: #ffffff; display: block; font-size: 14px; font-weight: 600; padding: 8px 15px; text-transform: uppercase; }
.login_info_block .sub-menu a:hover, .login_info_block .sub-menu a:focus { background: #737373 none repeat scroll 0 0; }
.booking-info-tbl table th { font-size: 14px; padding: 7px 5px; }
.booking-info-tbl table td { padding: 5px 15px; font-size: 14px; }
.order-sm { padding-left: 15px; padding-right: 15px; }
.booking-info-tbl .summary-charges th { font-size: 17px; padding: 15px 5px 10px; text-decoration: underline; }
.booking-info-tbl .summary-charges td { font-size: 15px; font-weight: 500; padding: 5px 7px; }
.booking-info-tbl .summary-section { padding-left: 0; padding-right: 0; }
.summary-charges span { font-size: 14px; font-weight: 600; }
.booking-info-tbl .summary-charges { margin-bottom: 20px; margin-top: 10px; }
.order_details .charges-summery { padding-left: 0; padding-right: 0; }
.order_details .charges-summery li { border-left: 1px solid #e1e1e1; border-right: 1px solid #e1e1e1; border-top: 1px solid #e1e1e1; padding: 8px; }
.order_details .charges-summery li:last-child { border-bottom: 1px solid #e1e1e1; }
.order_details .charges-summery .text-right { color: #000000; font-size: 14px; }
.order_details h2 { font-size: 26px; font-weight: 600; text-decoration: underline; text-transform: uppercase; }
.table-responsive { width: 100%; }
/** CSS for Myanmar Language **/
.myanmar-lang .navbar-header { float: left; padding-top: 5px; width: 18%; }
.myanmar-lang .logo_sc img { width: 100%; }
.myanmar-lang .header-right { float: right; width: 82%; }
.myanmar-lang .header-number { float: right; }
.myanmar-lang .header .navbar-right { text-align: right; margin-left: 20px; }
.myanmar-lang .header .navbar-nav li { margin-right: 0; }
.myanmar-lang .header nav li a { padding-left: 8px; padding-right: 8px; font-size: 14px; }
.myanmar-lang .search-category .nav-tabs li { margin-right: 5px; }
.myanmar-lang .search-category .nav-tabs li a { padding: 0 25px 0 30px; }

.myanmar-lang .retaing-box label {
    display: block;
}

/** 11 Jan 2018 **/
.dash-banner { margin-top:130px; }
.dash-banner-img {
    width: 100%;
}
.search-form-tab ul li {
    display: inline-block;
    float: left;
}
.search-form-tab ul li a {
    padding: 10px;
    margin: 0;
}
.search-form-tab .nav-tabs a, .search-form-tab .nav-tabs li.active a {
    border: none;
}
.search-form-tab .nav-tabs {
    border-bottom: 0;
}
.air-ticket-box h5 {
    text-align: left;
    font-size: 20px;
    color: #bc2220;
    font-weight: 600;
}
div#FilghtHire {
    line-height: 20px;
    margin-left: 10px;
}
.search-form-tab ul li {
    display: inline-block;
    float: left;
    background: #f2f2f2;
    border-bottom: 1px solid #e5e5e5;
	width: 200px;
}
.search-form-tab ul li:first-child {
    border-right: 1px solid #bcbcbc;
}

.modal-header.form-header {
    padding: 15px;
}
.cus-bg{
    background: rgba(255,255,255,0.7) none repeat scroll 0 0 !important;
}
.cus-bg a{
    background: none !important;
}