@charset "utf-8";
/* CSS Document */

@media only screen and (max-width:1366px) {}

@media only screen and (max-width:1200px) {

}

@media only screen and (max-width:991px) {

}

@media only screen and (max-width:800px) {
	
}

@media only screen and (max-width:767px) {
.logo_sc a { display: inline-block;  }
.navbar-toggle .icon-bar { background-color: #ffffff; }
.header .navbar-toggle { margin: 20px; }
.header nav li:hover a::after, .header nav li.active a::after, .header nav li a::after{ content:unset; }
.header nav li a { line-height:40px; }
}

@media only screen and (max-width:690px) {

}

@media only screen and (max-width:636px) {
	
}

@media only screen and (max-width:480px) {
	
}
@media only screen and (max-width:380px) {

}

@media only screen and (max-width:360px) {

}