<table class="booking-info-tbl">
    <tr>
        <td>
            <table>
                <tr>
                    <th align="left" valign="left" style=" ">Order Number</th>
                    <td>:</td>
                    <td align="left" valign="left" style=" ">{ORDER_NUMBER}</td>
                </tr>
                <tr>
                    <th align="left" valign="left" style=" ">Payment Status</th><td>:</td>
                    <td align="left" valign="left" style=" ">{PAYMENT_STATUS}</td>
                </tr>
                <tr>
                    <th align="left" valign="left" style=" ">Order Status</th><td>:</td>
                    <td align="left" valign="left" style=" ">{ORDER_STATUS}</td>
                </tr>
                <tr>
                    <th align="left" valign="left" style=" ">Car Type</th><td>:</td>
                    <td align="left" valign="left" style=" ">{CAR_TYPE}</td>
                </tr>
                <tr>
                    <th align="left" valign="left" style=" ">Pickup date & Time</th><td>:</td>
                    <td align="left" valign="left" style=" ">{PICK_DATE}</td>
                </tr>
                <tr>
                    <th align="left" valign="left" style=" ">Pickup City</th><td>:</td>
                    <td align="left" valign="left" style=" ">{PICK_CITY}</td>
                </tr>
                <tr>
                    <th align="left" valign="left" style=" ">Drop Off Date & Time</th><td>:</td>
                    <td align="left" valign="left" style=" ">{DROP_OFF_DATE}</td>
                </tr>
                {PRICING_SUMMARY}
                
                <tr>
                    <th align="left" valign="left" style=" ">Reservation Date</th><td>:</td>
                    <td align="left" valign="left" style=" ">{BOOKING_DATE}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>