<table class="booking-info-tbl">
    <tr>
        <td>
            <table>
                <tr>
                    <th align="left" valign="left" style=" ">ေအာ္ဒါနံပါတ္</th>
                    <td>:</td>
                    <td align="left" valign="left" style=" ">{ORDER_NUMBER}</td>
                </tr>
                <tr>
                    <th align="left" valign="left" style=" ">ေငြေပးေခ်မႈ အေျခအေန</th><td>:</td>
                    <td align="left" valign="left" style=" ">{PAYMENT_STATUS}</td>
                </tr>
                <tr>
                    <th align="left" valign="left" style=" ">ေအာ္ဒါ အေျခအေန</th><td>:</td>
                    <td align="left" valign="left" style=" ">{ORDER_STATUS}</td>
                </tr>
                <tr>
                    <th align="left" valign="left" style=" ">ကားအမ်ိဳးအစား</th><td>:</td>
                    <td align="left" valign="left" style=" ">{CAR_TYPE}</td>
                </tr>
                <tr>
                    <th align="left" valign="left" style=" ">ခရီးစဥ္ စတင္မည့္ေန႕ </th><td>:</td>
                    <td align="left" valign="left" style=" ">{PICK_DATE}</td>
                </tr>
                <tr>
                    <th align="left" valign="left" style=" ">ခရီးစဥ္ စတင္မည့္ၿမိဳ႕</th><td>:</td>
                    <td align="left" valign="left" style=" ">{PICK_CITY}</td>
                </tr>
                <tr>
                    <th align="left" valign="left" style=" ">ခရီးစဥ္ ၿပီးဆံုုးမည့္ေန႔</th><td>:</td>
                    <td align="left" valign="left" style=" ">{DROP_OFF_DATE}</td>
                </tr>
                {PRICING_SUMMARY}
                
                <tr>
                    <th align="left" valign="left" style=" ">ေအာ္ဒါတင္သည့္ေန႕</th><td>:</td>
                    <td align="left" valign="left" style=" ">{BOOKING_DATE}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
